@import "bootstrap-sprockets";
@import "bootstrap";


#eStuff {
  background-color: rgb(123, 231, 125);
}

#eStuff2 {
  padding: 10px 10px;
  background-color: rgba(122, 231, 124, 0.57);
}

nav a {
  background-color: rgb(123, 231, 125);
  padding: 10px;
  margin: 10px;
}

.customHeader {
  background-color: rgba(122, 231, 124, 0.57);
  padding: 15px;
  margin: 20px 20px 20px 0;
  border-radius: 5%;
  display: inline-block;
  box-shadow: 2px 2px 10px gray;
}
