@import "bootstrap-sprockets";
@import "bootstrap";


#eStuff {
  background-color: rgb(123, 231, 125);
}

#eStuff2 {
  padding: 10px 10px;
}

nav a {
  background-color: rgb(123, 231, 125);
  padding: 10px;
  margin: 10px;
}
